@import "_variables.scss";
.search-field {
    border-bottom: 1px solid rgba(245, 245, 245, 0.1);
    padding: 1em 0;
    text-align: center;
    select,
    input[type="text"] {
        background: rgb(42, 51, 62) none;
        border: 1px solid rgba(97, 119, 147, 0);
        color: #f5f5f5;
        outline: medium none;
        font-size: 1.1em;
        padding: 1em;
    }
}

.exotics {
    display: flex;
    flex-direction: column;
    @media (min-width: $screen-lg) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .exotic {
            flex-basis: 49%;
        }
    }
}

.exotic {
    border-bottom: 1px solid rgba(245, 245, 245, 0.1);
    padding: 1em 0;
    img {
        display: block;
        height: 96px;
        width: 96px;
        overflow: hidden;
        margin: 0 auto;
        @media (min-width: $screen-sm) {
            float:left;
            margin-right: 20px;
        }
    }
    h5 {
        font-size: 1.1em;
        margin: 0;
    }
    .exotic-info {
        overflow: hidden;
        h3 span {
            font-size: .8em;
            float: right;
            text-transform: none;
            padding: .5em 1em;
        }
        .available {
            background-color: $green;
        }
        .unavailable {
            background-color: $red;
        }
   
    }
    .title {
        font-size: 1.4em;
        margin: 0;
    }
    .sub-title {
        margin: 0;
        margin-top: .5em;
        font-size: .8em;
    }
    .unlock-proper {
        font-style: italic;
    }
    .unlock-info {
        display: flex;
        justify-content: space-between;
        div {
            flex-basis: 50%;
        }
    }
}